@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,87.5,100..900;1,87.5,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html, body {
    height: 100%;
    width: 100%;
 
}

/* body {
    width: 100vw;
    height: 100vh;
    background-image: url(./robo.jpeg);
    background-size: auto;
    background-repeat: no-repeat;
    
} */

body {
    background-image: url('./Image/AI.jpeg'); 
    background-size: cover; /* Ensures the image covers the entire page */
    /* background-position: center;  */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    font-family: "Roboto";
}

.container{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 60px;
    border-radius: 20px;
    position: absolute;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.container h1{
    font-size: 60px ;
    font-weight: 900;
    letter-spacing: 4px;
    
}

.container p{
    font-size: 20px;
    padding-bottom: 20px;
}

button{
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    transition: all 0.25s;
    font-size: 30px;
}

button:hover{
    background-color: #435d4b;
}


/* .video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
  } */